<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bros.manage.business.mapper.LogSysStatemMapper" >
    <resultMap id="tellerMap" type="java.util.HashMap" >
        <result property="log_num" column="LOG_NUM" />
		<result property="log_time" column="LOG_TIME" />
		<result property="sys_deal_type" column="SYS_DEAL_TYPE" />
		<result property="sys_state" column="SYS_STATE" />
		<result property="log_sys" column="LOG_SYS" />
		<result property="log_memo" column="LOG_MEMO" />
		<result property="log_grade" column="LOG_GRADE" />
		<result property="log_class" column="LOG_CLASS" />
		<result property="userid" column="USERID" />
		<result property="dela_ip" column="DELA_IP" />
		<result property="dela_mac" column="DELA_MAC" />
		<result property="dispose" column="DISPOSE" />
    </resultMap>

    <sql id="logSysStatem" >
		LOG_NUM,
		LOG_TIME,
		SYS_DEAL_TYPE,
		SYS_STATE,
		LOG_SYS,
		LOG_MEMO,
		LOG_GRADE,
		LOG_CLASS,
		USERID,
		DELA_IP,
		DELA_MAC,
		DISPOSE,
    </sql>
	
    <!-- 记录系统状态日志表-->
	<insert id="insertLogSysStatemInfo" parameterType="java.util.HashMap">
		 insert into LOG_T_SYS_STATE (
			LOG_NUM,
			LOG_TIME,
			SYS_DEAL_TYPE,
			SYS_STATE,
			LOG_SYS,
			LOG_MEMO,
			LOG_GRADE,
			LOG_CLASS,
			USERID,
			DELA_IP,
			DELA_MAC
		 ) values (
			 LOG_SEQ.NEXTVAL, 
			 sysdate,
			 #{sysDealType},
			 #{sysState},
			 '电报接收系统', 
			 #{logMemo},
			 #{logGrade},
			 '值班',
			 'SYSTEM_TEL',
			 #{delaIp},
			 #{delaMac}
		)		
	</insert>

</mapper>