<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bros.manage.business.mapper.LogSysStatemMapper" >
    <!-- 记录电报日志表-->
	<insert id="insertLogTellogInfo" parameterType="java.util.HashMap">
		 insert into LOG_T_TELLOG (
			LOG_NUM, 
			LOG_TIME, 
			LOG_SYS, 
			LOG_FUN, 
			LOG_TYPE, 
			LOG_SQL, 
			LOG_RESULT, 
			LOG_MEMO, 
			MAINKEY, 
			LOG_GRADE, 
			LOG_CLASS, 
			USERID, 
			DEAL_NUM, 
			DEAL_TYPE, 
			DEAL_MEMO
		 ) values (
			 LOG_SEQ.NEXTVAL,
			 sysdate, 
			 '电报接收系统', 
			 #{logFun}, 
			 #{logType} 
			 #{logSQL}, 
			 #{logResult}, 
			 #{logMemo}, 
			 #{mainKey}, 
			 '3', 
			 '值班', 
			 'SYSTEM_TEL', 
			 #{deaNum}, 
			 #{dealType}, 
			 #{dealMemo}
		)		
	</insert>
</mapper>