<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bros.manage.business.mapper.TelSendQueueMapper" >
    <resultMap id="tellerMap" type="java.util.HashMap" >
        <result property="tel_id" column="TEL_ID" />
		<result property="send_date" column="SEND_DATE" />
		<result property="tel_type" column="TEL_TYPE" />
		<result property="eleid" column="ELEID" />
		<result property="turnid" column="TURNID" />
		<result property="rectime" column="RECTIME" />
		<result property="tel_level" column="TEL_LEVEL" />
		<result property="recaddress" column="RECADDRESS" />
		<result property="sendaddress" column="SENDADDRESS" />
		<result property="sendtime" column="SENDTIME" />
		<result property="plan_id" column="PLAN_ID" />
		<result property="tel_text" column="TEL_TEXT" />
		<result property="userid" column="USERID" />
		<result property="deal_memo" column="SEND_FLAG" />
		<result property="send_flag" column="ORIGINALTXT" />
		<result property="send_ip" column="SEND_IP" />
		<result property="send_mac" column="SEND_MAC" />
		<result property="old_tel_id" column="OLD_TEL_ID" />
		<result property="flightnumber" column="FLIGHTNUMBER" />
		<result property="startloc" column="STARTLOC" />
		<result property="endloc" column="ENDLOC" />
		<result property="insert_time" column="INSERT_TIME" />
    </resultMap>

    <sql id="telSendQueue" >
		TEL_ID,
		SEND_DATE,
		TEL_TYPE,
		ELEID,
		TURNID,
		RECTIME,
		TEL_LEVEL,
		RECADDRESS,
		SENDADDRESS,
		SENDTIME,
		PLAN_ID,
		TEL_TEXT,
		USERID,
		SEND_FLAG,
		ORIGINALTXT,
		SEND_IP,
		SEND_MAC,
		OLD_TEL_ID,
		FLIGHTNUMBER,
		STARTLOC,
		ENDLOC,
		INSERT_TIME
    </sql>
	
	<!-- 查询电报发送列表 -->
    <select id="getTelSendInfo" resultMap="tellerMap"  >
       SELECT 
       		<include refid="telSendQueue" />
       FROM 
       		TEL_T_SEND_QUEUE
       where 
       		SEND_FLAG = '0' 
       ORDER BY SEND_DATE ASC
    </select>
    
    <!-- 更新电报发送列表 -->
    <update id="updateTelSendInfo"  parameterType="java.util.HashMap">
		UPDATE TEL_T_SEND_QUEUE
		SET SEND_FLAG='1'
		WHERE TEL_ID=#{tel_id}
	</update>
</mapper>